
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>My External File</title>
    <link type="text/css" href="~/css/HGCSS.css" rel="stylesheet"/>
    <script type="text/javascript" src="~/JS/MyJsFile.js"></script>
</head>
<body> 
    <h1>My External File </h1>
    <p class="format">
        Press Me
        <input type="button" onclick="clickMe(this)" value="Click Me" />
    </p>
    <img src="~/Images/imges.jpeg" alt="My Image" />
</body>
</html>
