
@{
    ViewData["Title"] = "Demo4";
}

<h2>Demo4</h2>

<h3>Data from Query String</h3>

<p>
    ID1 = @ViewBag.ID1;
    ID2 = @ViewBag.ID2;
</p>

<br/>
<a asp-controller="Demo" asp-action="index">Index Page</a>