
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

Demo 2 <br/>
<a asp-controller="Demo" asp-action="demo2" asp-route-id="123">Demo 2</a>
<br/>
Demo 3 <br/>
<a asp-controller="Demo" asp-action="demo3" asp-route-Data1="CJ" asp-route-Data2="Chandrahas Poojari a.k.a CJ">Demo 3</a> 
<br/>
Demo 4<br/>
<a asp-controller="Demo" asp-action="demo4" asp-route-id1="123" asp-route-id2="My Name is Chandrahas">Demo4</a>