
Youtube_API_Trails/.vs/config/applicationhost.config
Youtube_API_Trails/.vs/Youtube_API_Trails/v15/.suo
Youtube_API_Trails/.vs/Youtube_API_Trails/v15/sqlite3/storage.ide
Youtube_API_Trails/Youtube_API_Trails.sln
Youtube_API_Trails/YoutubeSearch/APIKeyData/client_secret.json
Youtube_API_Trails/YoutubeSearch/bin/Debug/netcoreapp2.0/YoutubeSearch.deps.json
Youtube_API_Trails/YoutubeSearch/bin/Debug/netcoreapp2.0/YoutubeSearch.dll
Youtube_API_Trails/YoutubeSearch/bin/Debug/netcoreapp2.0/YoutubeSearch.pdb
Youtube_API_Trails/YoutubeSearch/bin/Debug/netcoreapp2.0/YoutubeSearch.runtimeconfig.dev.json
Youtube_API_Trails/YoutubeSearch/bin/Debug/netcoreapp2.0/YoutubeSearch.runtimeconfig.json
Youtube_API_Trails/YoutubeSearch/Controllers/HomeController.cs
Youtube_API_Trails/YoutubeSearch/HelperClass/GoogleAPI_HelperClass.cs
Youtube_API_Trails/YoutubeSearch/obj/Debug/netcoreapp2.0/UserSecretsAssemblyInfo.cs
Youtube_API_Trails/YoutubeSearch/obj/Debug/netcoreapp2.0/YoutubeSearch.AssemblyInfo.cs
Youtube_API_Trails/YoutubeSearch/obj/Debug/netcoreapp2.0/YoutubeSearch.AssemblyInfoInputs.cache
Youtube_API_Trails/YoutubeSearch/obj/Debug/netcoreapp2.0/YoutubeSearch.csproj.CoreCompileInputs.cache
Youtube_API_Trails/YoutubeSearch/obj/Debug/netcoreapp2.0/YoutubeSearch.csproj.FileListAbsolute.txt
Youtube_API_Trails/YoutubeSearch/obj/Debug/netcoreapp2.0/YoutubeSearch.csprojResolveAssemblyReference.cache
Youtube_API_Trails/YoutubeSearch/obj/Debug/netcoreapp2.0/YoutubeSearch.dll
Youtube_API_Trails/YoutubeSearch/obj/Debug/netcoreapp2.0/YoutubeSearch.pdb
Youtube_API_Trails/YoutubeSearch/obj/project.assets.json
Youtube_API_Trails/YoutubeSearch/obj/YoutubeSearch.csproj.nuget.cache
Youtube_API_Trails/YoutubeSearch/obj/YoutubeSearch.csproj.nuget.g.props
Youtube_API_Trails/YoutubeSearch/obj/YoutubeSearch.csproj.nuget.g.targets
Youtube_API_Trails/YoutubeSearch/Program.cs
Youtube_API_Trails/YoutubeSearch/Properties/launchSettings.json
Youtube_API_Trails/YoutubeSearch/Startup.cs
Youtube_API_Trails/YoutubeSearch/Views/Home/Index.cshtml
Youtube_API_Trails/YoutubeSearch/YoutubeSearch.csproj
Youtube_API_Trails/YoutubeSearch/YoutubeSearch.csproj.user
