
@{ 
    Layout = null;
}

<h2>View Demo 2</h2>

<h3>Using Tag Helper asp-controller &Aacute; asp-action</h3>
<a asp-controller="demo" >Index without action </a>
<br/>
<a asp-controller="demo" asp-action="index">Index with controller &Aacute; Action</a> 
<br />

<br />
<br />
<h3>using actionlink</h3>
@Html.ActionLink("Go to index 2", "index", "")
<br />
@Html.ActionLink("Go to index", "index", "demo")
<br />
@Html.ActionLink("demo data", "demo2", "demo")
