@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
<!DOCTYPE html>
<html>
<head>
    <title>Routes</title>
</head>
<body>
    <h3>Index View</h3>
    <a asp-controller="demo">Go to Index directly</a>
    <br />
    <a asp-controller="demo" asp-action="Index">Go Index</a>
    <br/>
    <a asp-controller="demo" asp-action="Demo2">Go Demo 2 View</a>

    <br/>
    <br/>
    <br />
    <br />

    @Html.
</body>
</html>