
@{
    ViewData["Title"] = "Demo3";
}

<h2>Demo3</h2>

<h3>@ViewBag.id</h3>
<h3>@ViewBag.id2</h3>
        
        @*[Route("index")]*@
<br />
<a asp-controller="demo" asp-action="index">Index Page</a>
<br/>
        @*[Route("MyDemoPage")]*@
<br />
<a asp-controller="demo" asp-action="MyDemoPage">Index Page via MyDemoPage</a>
        
