<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Reading App Config Files</title>
</head>
<body>
    <table>
        <tr>
            <td>My Message</td>
            <td>@ViewBag.results1</td>
        </tr>
        <tr>
            <td>My Config Data 1</td>
            <td>@ViewBag.ConfigProperties1</td>
        </tr>
        <tr>
            <td>My Config Data 2</td>
            <td>@ViewBag.ConfigProperties2</td>
        </tr>
        <tr>
            <td>My Config Data 3</td>
            <td>@ViewBag.ConfigProperties3</td>
        </tr>
    </table>    
</body>
</html>